#right2{
    background-image: url(../image/hangzhouMap.png);
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    background-position: 100% 80%;
    background-size: 85%;
}
#left1{
    background-image: url(../image/worldMap.png);
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: 100%;
}
h2{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    margin-top: 8px;
}
table{
    margin: auto 0px ;
    /*background-color: #9966CC;*/
    width: 100%;
    height: 10%;
    position: relative;
    bottom:0px;
    /*text-align: center;*/
}
.td1{
    color: #ffffff;
    font-size: 10px;
}
.data1{
    color: #ff0000;
    font-size: 12px;
}
#center{
    position: fixed;;
    border:solid 0px;
    border-color: #ff0000;
}
#left_line,#right_line,#left_bar,#right_bar{
    margin-bottom:0;
    width: 49%;
    height:40%;
    float: left;
    margin-left:0;
}
#left3_table{
    border:solid 3px;
    border-color: #1a6091;
    background-color: #1F1F7A;
    width:80%;
    /*height:40%;*/
    height:20%;
    text-align: center;
    font-size: 5px;
    color: #ffffff;
    border-collapse: separate;
    border-spacing: 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
.tr1{
    height:10%;
}
.tr1_head{
    font-size:8px;
    color: #FFFF00;
}
#left3_bar{
    position: fixed;
    width:20%;
    height:10%;
    bottom:0;
    /*background:rgba(2,84,145,0.2);*/
}
#left3_d{
    width:50%;
    height:40%;
    float: right;
    /*align-content: center;*/
}
#right2_table{
    border-collapse: separate;
    border-spacing: 5px 2px;
    margin-left: 5%;
    margin-right: auto;
}
.td2{
    color: #FFFFFF;
    font-size:6px;
}
.td3{
    background-color: #00ff00;
}
#left1_table{
    width:22%;
    /*border:solid 0.2px;*/
    /*border-color: #eb6100;*/
    border-collapse: separate;
    border-spacing: 5px 0px;
    position: absolute;
    top:23.33%;
    left:0.5%;
    /*margin:48% 0;*/
    /*vertical-align: text-bottom;*/
}
#left_line,#left_bar,#right_line,#right_bar{
    /*border:solid 1px;*/
    /*border-color: #fd971f;*/
}
#center_table{
    position: fixed;
    width:50%;
    height:35%;
    border-collapse: separate;
    border-spacing: 2px 0px;
    margin: 0 25% 1%;
    text-align: center;
    border-collapse: collapse;
}
#center_top{
    /*border:solid 1px;*/
    /*border-color: #FF0000;*/
}
#center_top{
    position: fixed;
    left:22%;
    top:10%;
    width:56%;
    height:21%;
}
#center_bottom{
    position: relative;
    bottom:5%;
}
#tr3{
    color: #000;
    background-color: #7ecef4;
}
.tr4{
    font-size: 12px;
    background-color: #01479c;
    opacity: 0.5;
}
.tr5{
    font-size: 12px;
    background-color: #2f8add;
    opacity: 0.8;
}
#center_line1{
    width:28%;
    height:40%;
    position: fixed;
    left:22%;
    top:8%;
    /*border:solid 0.5px;*/
    /*border-color: #eb6100;*/

}
#center_line2{
    /*float: left;*/
    width:28%;
    height:40%;
    position: fixed;
    right:22%;
    top:8%;
    /*border:solid 0.5px;*/
    /*border-color: #eb6100;*/
}
#center_bar1{
    width:28%;
    height:40%;
    position: fixed;
    left:22%;
    top:58%;
    /*border:solid 0.5px;*/
    /*border-color: #eb6100;*/
}
#center_bar2{
    width:28%;
    height:40%;
    position: fixed;
    right:22%;
    top:58%;
    /*border:solid 0.5px;*/
    /*border-color: #eb6100;*/
}
#centerDataCloud{
    width:25%;
    height:40%;
    position: fixed;
    left:25%;
    top:5%;
    border:solid 0.5px;
    border-color: #eb6100;
}
#center_tb1{
    width:22%;
    height:39%;
    position: fixed;
    top:5%;
    left:53%;
    /*border:solid 2px;*/
    /*border-color: #eb6100;*/
}
#center_table1{
    position: absolute;
    font-size: 15px;
    color: #FFFFFF;
    border-collapse:separate;
    border-spacing:0px 0px;
    text-align: center;
    border:solid 3px;
    border-color: #025491;
    /*opacity: 0.2;*/
    /*margin:5% auto 80%;*/
    /*padding:20%;*/
}
.tr2_head{
    font-size: 18px;
    color: #FFFF00;
    background-color:#2e7dce ;
    opacity:0.2;
}
.tr2{
    background-color:#15cff8 ;
    opacity:0.2;
}
#center_bottom1{
    width:50%;
    height:35%;
    position: fixed;
    top:60%;
    left:25%;
    border:solid 1px;
    border-color: #eb6100;
}
#center_bar3{
    width:50%;
    height:45%;
    position: fixed;
    top:50%;
    left:25%;
    /*border:solid 2px;*/
    /*border-color: #eb6100;*/

}
#center2{
    width:56%;
    height:45%;
    position: fixed;
    bottom:0;
    left:22%;
    background-image: url(../image/worldMap.png);
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    background-position: 30% 85%;
    background-size: 75%;
}
#center_tb2,#center_tb3{
    width:25%;
    height:26%;
    position: fixed;
    top:32%;
    border:solid 3px;
    border-color: #025491;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}
.bgc{
    background-color: #01479c;
    opacity: 0.5;
}
#center_tb3 tr:first-child{
    font-size:12px;
    color: #FFFF00;
}
#center_tb2 tr:first-child{
    font-size:15px;
    color: #FFFF00;
}
#center_tb2{
    left:24%;
    border-collapse: separate;
    border-spacing:0;
}
#center_tb3{
    left:51%;
    border-collapse: separate;
    border-spacing:0;
}
#centertitle1{
    width:56%;
    height:7%;
    position: fixed;
    top:0%;
    left:22%;
    /*border:solid 2px #fd971f;*/
}
#centertitle1 > #img_line1{
    left:23%;
    position: fixed;
    top:3%;
}
#centertitle1 > #img_line2{
    right:23%;
    position: fixed;
    top:3%;
}
#centerTopLine1{
    position: fixed;
    left:22%;
    top:0;
    width:28%;
    height:10%;
}
#centerTopLine2{
    position: fixed;
    right:22%;
    top:0;
    width:28%;
    height:10%;
}
#img_line1{
    position: fixed;
    left:23%;
    top:5%;
    /*width: 350px;*/
    /*height:10px;*/
    /*background-color: #15cff8;*/
}
#img_line2{
    position: fixed;
    right:23%;
    top:5%;
    /*width: 350px;*/
    /*height:10px;*/
    /*background-color: #15cff8;*/
}
#centertitle2{
    width:56%;
    height:9%;
    position: fixed;
    top:48%;
    left:22%;
    /*border:solid 1px #fd971f;*/
}
#centerBottomBar1{
    position: fixed;
    left:22%;
    top:48%;
    width:28%;
    height:10%;
}
#centerBottomBar2{
    position: fixed;
    right:22%;
    top:48%;
    width:28%;
    height:10%;
}
#img_bar1{
    left:23%;
    position: fixed;
    bottom:45%;
}
#img_bar2{
    right:23%;
    position: fixed;
    bottom:45%;
}
#riskDatadiv1,#riskDatadiv2,#riskDatadiv3,#riskDatadiv4{
    text-align: center;
    margin-top: 8px;
    background-color: #635F77;
    opacity:0.9;
}
#riskDatadiv1{
    position: fixed;
    left:23%;
    bottom:21%;
    width:8%;
    width:8%;
    height:9%;
}
#riskDatadiv2{
    position: fixed;
    left:27%;
    bottom:6%;
    width:8%;
    height:9%;
}
#riskDatadiv3{
    position: fixed;
    right:24%;
    bottom:22%;
    width:8%;
    height:9%;
}#riskDatadiv4{
     position: fixed;
     right:24%;
     bottom:4%;
     width:8%;
     height:9%;
 }
.colorBar{
     background-color: #F2914A;
}
#colorBar1{
     height:0.8%;
     position: fixed;
     bottom:25%;
     left:31.5%;
     width:3%;
}
#colorBar2{
    height:0.8%;
    position: fixed;
    bottom:10%;
    left:35.5%;
    width:4%;
}
#colorBar3{
    height:0.8%;
    position: fixed;
    bottom:26%;
    right:32.5%;
    width:10%;
}
#colorBar4{
    height:0.8%;
    position: fixed;
    bottom:8%;
    right:32.5%;
    width:5%;
}
#right3_text{
    width:20%;
    height:20%;
    position: fixed;
    right:2%;
    bottom:2%;
    /*border:solid 2px #fd971f;*/

}
/*025491 20%; 15cff8 20%; 2e7dce */